<h1>Members#index</h1>

<h4>Members who cover that:</h4>
  <%= form_with url: "/members", method: :get do |form| %>
    <%= form.label :query, "Search for:" %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>
  <% end %>

  <ul>
    <% @members.each do |member| %>
      <li>Name: <%= link_to member.name, member_path(member) %>, Website: <%= member.website %>, Friends: <%= member.friend_count %></li>
    <% end %>
  </ul>
